// --------------- // Generic site styles // --------------- //
*,
*:after,
*:before {
    box-sizing: border-box;
}
// HTML5 display-role reset for older browsers
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
    display: block;
}

html {
  font: 62.5%/1.2 "PT Serif", Georgia, serif;
  word-wrap: break-word;
  overflow-x: hidden;
}

html,
body {
  width: 100%;
}

body {
  color: #1a1a1a;
  background: #fff;
  font: normal 400 2rem/1.5 "PT Serif", Georgia, serif;

    &:before,
    &:after {
        content: "";
        display: block;
        position: fixed;
    }
    &:before {
        background-color: $black;
        z-index: 100;
    }
    &:after {
        background-color: $primary-colour;
        z-index: 101;
    }
}
body.page-swipe-up {
    &:before,
    &:after {
        bottom: -100%;
        left: 0;
        right: 0;
        height: 100%;
    }
    &:before {
        animation: pageSwipeUp linear .6s;
    }
    &:after {
        animation: pageSwipeUpPink linear .5s .05s;
    }
}
body.page-swipe-down {
    &:before,
    &:after {
        top: -100%;
        left: 0;
        right: 0;
        height: 100%;
    }
    &:before {
        animation: pageSwipeDown linear .6s;
    }
    &:after {
        animation: pageSwipeDownPink linear .5s .05s;
    }
}
body.page-swipe-left {
    &:before,
    &:after {
        top: 0;
        bottom: 0;
        left: -100%;
        width: 100%;
    }
    &:before {
        animation: pageSwipeLeft linear .6s;
    }
    &:after {
        animation: pageSwipeLeftPink linear .5s .05s;
    }
}
body.page-swipe-right {
    &:before,
    &:after {
        top: 0;
        bottom: 0;
        right: -100%;
        width: 100%;
    }
    &:before {
        animation: pageSwipeRight linear .6s;
    }
    &:after {
        animation: pageSwipeRightPink linear .5s .05s;
    }
}

#app {
    margin-bottom: rem-calc(60);
    padding: 2rem;
}

.wrapper {
  width: 72rem;
  max-width: 96%;
  margin: 0 auto;
}

.page {
  max-width: 121.6rem;
  position: relative;
  margin: 0 auto;
  height: 100%;
  background: #fff;
}

.main-content {
  min-height: 34.5rem;
  position: relative;
}

.main-content:before, .main-content:after {
  content: '';
  display: table;
}

.main-content:after {
  clear: both;
}

.main-body {
  padding: 2rem 1.8rem;
  font-size: 1.6rem;
  width: 63.75%;
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  float: left;
  min-height: 1px;
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $black;
    font-family: inherit;
    margin: rem-calc(0 0 30);
}
h1 {
    font-size: rem-calc(34);
    line-height: 1.2;
}

h2 {
    font-size: rem-calc(28);
}

h3 {
    font-size: rem-calc(22);
}

h4 {
    font-size: rem-calc(20);
}

h5 {
    font-size: rem-calc(18);
}

h6 {
    font-size: rem-calc(16);
}

h2:first-child,
h3:first-child,
h4:first-child {
    margin-top: 0;
}

p {
  margin: 0rem 0rem 2rem 0rem;
  line-height: 1.8;
  vertical-align: top;
  display: block;
  clear: both;
}

p > img {
  padding: 1rem;
  box-sizing: content-box;
}

li {
    margin-bottom: rem-calc(8);
}

a {
    color: $primary-colour;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;

    &.left {
        padding: rem-calc(5 2 12 0);
        vertical-align: top;
        float: left;
    }

    &.right {
        padding: rem-calc(5 0 12 2);
        float: right;
    }
}

[hidden] {
    display: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: none;
}

b,
strong {
    font-weight: 700;
}

em {
    font-weight: 700;
    font-style: italic;
}

button {
    font-size: rem-calc(15);
    border: none;
    vertical-align: middle;
    line-height: 1.2;
    background-color: transparent;
    appearance: none;
}

pre,
code {
    margin: rem-calc(0 0 12);
    padding: rem-calc(2 4);
    font-size: rem-calc(14);
    line-height: 1.2;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: $global-radius;
    background-color: $tertiary-colour;
    border: 0;
    color: darken($tertiary-colour, 40%);
    font-size: rem-calc(16);
    font-weight: normal;
}
pre {
    margin-bottom: rem-calc(30);
    padding: rem-calc(30 0 0);

    code {
        margin-bottom: 0;
    }
}
p code {
    white-space: nowrap;
}
blockquote {
  padding: 1rem 0rem 1rem 3rem;
  margin: 0rem 0rem 2rem 0rem;
  font-style: italic;
  border-left: 5px solid #e5127d;
}

blockquote footer {
  text-align: right;
}

blockquote cite {
  font-size: 1.6rem;
  color: #fff;
}

blockquote cite:before {
  content: '- ';
}

hr {
    margin: rem-calc(3 0);
    border: none;
    border-top: 3px solid $primary-colour;
}

address {
    margin: rem-calc(0 0 12 0);
    font-size: rem-calc(16);
    line-height: 1.4;
}

// --------------- //Selection styles // --------------- //
::selection {
    background: #b3d4fc;
    text-shadow: none;
}

// --------------- // Alignment of tags // --------------- //
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

// --------------- // Hide and show content // --------------- //
// Hide visually and from screen readers:
.hidden {
    display: none !important;
    visibility: hidden;
}

// Hide only visually, but have it available for screen readers
.visuallyhidden {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

// Extends the .visuallyhidden class to allow the element
// to be focusable when navigated to via the keyboard
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

// --------------- // Angular snippets // --------------- //
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}

// --------------- // Responsive video // --------------- //
.media_embed {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}

.media_embed .map,
.media_embed iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

// --------------- // Mobile optimizations // --------------- //
* {
    -webkit-tap-highlight-color: rgba(#b3d4fc, 0.3);
}

// --------------- // Forms  // --------------- //
label {
  cursor: pointer;
}
input[type=text],
input[type=email],
input[type=search],
select {
  box-sizing: border-box;
  height: rem-calc(48);
  padding: rem-calc(0 16);
  font-size: rem-calc(16);
  border-style: solid;
}
select {
  appearance: none;
  cursor: pointer;
  white-space: nowrap;
  padding-right: rem-calc(45);
}
.select {
  position: relative;
  display: inline-block;
  cursor: pointer;

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: rem-calc(20);
    right: rem-calc(20);
    height: rem-calc(16);
    width: rem-calc(16);
    border: 8px solid transparent;
    border-top-color: $body-text;
  }
}

@media only screen and (max-width: 500px) {
    body {
        font-size: rem-calc(16);
    }
}
